.configurations-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #171b23;
  margin: 0;
  user-select: none;
}

.configurations-page h2 {
  color: white;
  padding: 16px;
  margin: 15px 0px;
  text-align: center;
}

.config-list {
  flex: 1; 
  overflow-y: auto;
  padding: 5px 10px;
  color: white;
  margin: 0px 20px 10px 20px;
  
}

.config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272c39;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}

.config-item .actions {
  display: flex;
  gap: 10px; 
}

.config-item button {
  background-color: #606c87;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  width: 75px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.config-item button:hover {
  background-color: #233965;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px ;
}

.cancel-button,
.add-config-button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-config-button {
  background-color: #4CAF50;
  color: white;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.add-config-button:hover {
  background-color: #94c096;
}

.cancel-button:hover {
  background-color: #c9817c;
}